*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Nunito", sans-serif;
  color: #6D5D4B;
  font-weight: 300;
  line-height: 1.6; 
  overflow-x: hidden;
}

.container {
  display: grid;
  grid-template-rows: 95vh 40vw repeat(5, min-content);
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }
  @media only screen and (max-width: 62.5em) {
    .container {
      grid-template-rows: 6rem 80vh min-content 40vw repeat(4, min-content);
      grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; } }
  @media only screen and (max-width: 50em) {
    .container {
      grid-template-rows: 6rem calc(100vh - 6rem); } }

a{
  text-decoration: none;                                                                                                                                                                                                                                                                                                                                                                                                                                                 
}

.heading-1, .heading-2, .heading-3, .heading-4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400; }

.heading-1 {
  font-size: 4.5rem;
  color: #f9f7f6;
  line-height: 1; 
  margin-top: 11rem;
  margin-left: -4rem;
}

.heading-2 {
  font-size: 4rem;
  font-style: italic;
  line-height: 1; 
}
  .heading-2--light {
    color: #f9f7f6; }
  .heading-2--dark {
    color: #54483A; }

.heading-3 {
  font-size: 1.6rem;
  color: #c69963;
  text-transform: uppercase; }

.heading-4 {
  font-size: 1.9rem; }
  .heading-4--light {
    color: #f9f7f6; }
  .heading-4--dark {
    color: #54483A; }

    .project{
      grid-column: 1 / -1;
      width:100%;
      height: 8vw;
      margin-left: -5rem;
      background-image: linear-gradient(to right, rgb(198, 153, 99), rgb(255, 211, 34)) ;
      display: flex;
      justify-content: center;
      align-content: center;
      clip-path: polygon(0 0, 95% 0, 100% 50%, 95% 100%, 0 100% );
    }
    .project p{
      text-align: center;
      margin: auto;
      font-size: 4rem;
      font-family: 'Sriracha', cursive;
      letter-spacing: .5rem;
      color: black;
    }
    @media only screen and (max-width: 700px){
      .project{
        height: 10rem;
        clip-path: polygon(0 50%, 5% 0%, 95% 0, 100% 50%, 95% 100%, 5% 100% );
      }
    }
.btn {
  background-color: #c69963;
  color: #fff;
  border: none;
  border-radius: 0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.8rem 3rem;
  cursor: pointer;
  transition: all .2s; }
  .btn:hover {
    background-color: #B28451; }

.mb-sm {
  margin-bottom: 2rem; }

.mb-md {
  margin-bottom: 3rem; }

.mb-lg {
  margin-bottom: 4rem; }

.mb-hg {
  margin-bottom: 8rem; }

.sidebar {
  background-color: #c69963;
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1;
  display: flex;
  justify-content: center; }
  @media only screen and (max-width: 62.5em) {
    .sidebar {
      grid-column: 1 / -1;
      grid-row: 1 / 2;
      justify-content: flex-end;
      align-items: center; } }

.nav-btn {
  border: none;
  border-radius: 0;
  background-color: white;
  height: 2px;
  width: 4.5rem;
  margin-top: 4rem; }
  .nav-btn::before, .nav-btn::after {
    background-color: white;
    width: 4.5rem;
    height: 2px;
    content: "";
    display: block; }
  .nav-btn::before {
    transform: translateY(-1.5rem); }
  .nav-btn::after {
    transform: translateY(1.3rem); }
  @media only screen and (max-width: 62.5em) {
    .nav-btn {
      margin-top: 0;
      margin-right: 3rem; }
      .nav-btn::before {
        transform: translateY(-1.2rem); }
      .nav-btn::after {
        transform: translateY(1rem); } }

.header {
  background-color: #54483A;
  grid-column: full-start / col-end 6;
  background-image: linear-gradient(rgba(16, 29, 44, 0.23), rgba(16, 29, 44, 0.23)), url(../img/MAIN-COVER.jpg);
  background-size: cover;
  background-position: center;
  padding: 8rem;
  padding-top: 4rem;
  display: grid;
  grid-template-rows: 1fr min-content minmax(6rem, min-content) 1fr;
  grid-template-columns: minmax(min-content, max-content);
  grid-row-gap: 1.5rem;
  justify-content: center; }
  @media only screen and (max-width: 50em) {
    .header {
      grid-column: 1 / -1; } }
  @media only screen and (max-width: 37.5em) {
    .header {
      padding: 5rem; } }
  .header__logo {
    height: 3rem;
    justify-self: center; }
  .header__btn {
    padding-top: 1.5rem;
    align-self: start;
    justify-self: start; 
    background-color: rgb(83, 51, 14);}
  .header__seenon-text {
    font-size: 1.6rem;
    color: #aaa;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-column-gap: 1.5rem;
    align-items: center; }
    .header__seenon-text::before, .header__seenon-text::after {
      content: "";
      height: 1px;
      display: block;
      background-color: currentColor; }
  .header__seenon-logos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 3rem;
    justify-items: center;
    align-items: center; }
    .header__seenon-logos img {
      max-height: 2.5rem;
      max-width: 100%;
      filter: brightness(70%); }

.top-header{
  font-size: 3.5rem;
  color: black;
  font-family: 'Sriracha', cursive;
  margin-left: -4rem;
}

.realtors {
  background-color: #101d2c;
  grid-column: col-start 7 / full-end;
  padding: 3rem;
  display: grid;
  align-content: center;
  justify-content: center;
  justify-items: center;
  grid-row-gap: 2rem; }
  @media only screen and (max-width: 50em) {
    .realtors {
      grid-column: 1 / -1; } }
  .realtors__list {
    /* display: grid; 
    grid-template-columns: min-content max-content;
    grid-column-gap: 2rem; 
    grid-row-gap: 5vh;
    align-items: center; */

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

     }
    .realtors__details{
      margin-top: 2.5rem;
      padding: .5rem 1rem;
    }
    .realtors__details:hover{
      background-color: rgba(126, 240, 231, .2);
    }
    @media only screen and (max-width: 50em) {
      .realtors__list {
        display: grid;
        justify-content: space-evenly;
        grid-template-columns: repeat(3, min-content max-content); } }
    @media only screen and (max-width: 37.5em) {
      .realtors__list {
        grid-template-columns: min-content max-content; } }
  .realtors__img {
    width: 7rem;
    border-radius: 50%;
    display: block; }
  .realtors__sold {
    text-transform: uppercase;
    color: #aaa;
    margin-top: -3px; }

.features {
  grid-column: center-start / center-end;
  margin: 15rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 6rem;
  align-items: flex-start; }

.feature {
  display: grid;
  grid-template-columns:1fr;
  grid-row-gap: 1.5rem; 
  padding: 2rem 4rem;
  background-color: #f1cb9d;
}
  .feature__text {
    font-size: 1.7rem; }

    .achivements{
      grid-column: 1 / -1;
      height: 8vw;
      margin-left: -5rem;
      background-image: linear-gradient(to right, rgb(198, 153, 99), rgb(255, 211, 34)) ;
      display: flex;
      justify-content: center;
      align-content: center;
      clip-path: polygon(0 0, 95% 0, 100% 50%, 95% 100%, 0 100% );
    }
    .achivements p{
      text-align: center;
      margin: auto;
      font-size: 4rem;
      font-family: 'Sriracha', cursive;
      letter-spacing: .5rem;
      color: black;
    }
    @media only screen and (max-width: 700px){
      .achivements{
        height: 10rem;
        clip-path: polygon(0 50%, 5% 0%, 95% 0, 100% 50%, 95% 100%, 5% 100% );
      }
    }

.story__pictures {
  margin-top: 6rem;
  grid-column: full-start / col-end 4;
  background-image: linear-gradient(rgba(198, 153, 99, 0.5), rgba(198, 153, 99, 0.5)), url(../img/ABOUT-PIC2.jpg);
  background-size: cover;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(6, 1fr);
  align-items: center; }
  @media only screen and (max-width: 50em) {
    .story__pictures {
      grid-column: 1 / -1;
      padding: 6rem; } }

.story__img--1 {
  width: 100%;
  grid-row: 2 / 6;
  grid-column: 2 / 6;
  margin-left: -4rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2); }
  @media only screen and (max-width: 50em) {
    .story__img--1 {
      grid-column: 1 / 5;
      grid-row: 1 / -1; } }

.story__img--2 {
  width: 115%;
  z-index: 20;
  grid-row: 4 / 6;
  grid-column: 4 / 7; }
  @media only screen and (max-width: 50em) {
    .story__img--2 {
      width: 100%;
      grid-row: 1 / -1; } }

.story__content {
  margin-top: 6rem;
  color: #54483A;
  grid-column: col-start 5 / fullend;
  padding: 6rem 8vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start; }
  @media only screen and (max-width: 50em) {
    .story__content {
      grid-column: 1 / -1;
      grid-row: 5 / 6; } }

.story__text {
  font-size: 1.5rem;
  font-style: italic;
  margin-bottom: 4rem; }

.homes {
  grid-column: center-start / center-end;
  margin: 15rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 7rem; }

.home {
  background-color: #f9f7f6;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 3.5rem; }
  .home__img {
    width: 100%;
    z-index: 1;
    grid-column: 1 / -1;
    grid-row: 1/2; }
  .home__like {
    z-index: 2;
    grid-row: 1/2;
    grid-column: 2/3;
    fill: #c69963;
    height: 2.5rem;
    width: 2.5rem;
    justify-self: end;
    margin: 1rem;
    cursor: pointer; }
    .home__like:hover {
      fill: red; }
  .home__name {
    background-color: #101d2c;
    color: white;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    text-align: center;
    padding: 1.25rem;
    width: 80%;
    justify-self: center;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    z-index: 3;
    align-self: end;
    transform: translateY(50%); }
  .home__location, .home__rooms, .home__area, .home__price {
    font-size: 1.5rem;
    margin-left: 2rem;
    display: flex;
    align-items: center; }
    .home__location svg, .home__rooms svg, .home__area svg, .home__price svg {
      fill: #c69963;
      height: 2rem;
      width: 2rem;
      margin-right: 1rem; }
  .home__location, .home__rooms {
    margin-top: 2.5rem; }
  .home__btn {
    grid-column: 1 / -1; }

.footer {
  background-color: #101d2c;
  grid-column: full-start / full-end;
  padding: 8rem; }

.nav {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 2rem;
  align-items: center; }
  .nav__link:link, .nav__link:visited {
    font-size: 1.4rem;
    color: white;
    text-decoration: none;
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
    text-align: center;
    padding: 1.5rem;
    display: block;
    transition: all .2s; }
  .nav__link:hover, .nav__link:active {
    background-color: rgba(255, 255, 255, 0.05);
    transform: translateY(-3px); }
.cnt{
  text-align: center;
  font-size: 1.5rem;
  color: white;
}
.copyright {
  font-size: 1.4rem;
  color: #aaa;
  margin-top: 6rem;
  text-align: center; }


  .skills{ 
    grid-column: full-start / full-end;
    display: grid;
    grid-template-columns: repeat(autofit , 50rem);
    grid-template-rows: 8rem min-content;
  }
  .heading-skills-primary{
    grid-column: 1 / -1; 
    width: 100%;
    height: 8vw;
    margin-left: -6rem;
    background-image: linear-gradient(to right, rgb(198, 153, 99), rgb(255, 211, 34)) ;
    clip-path: polygon(0 0, 95% 0, 100% 50%, 95% 100%, 0 100% );
    display: flex;
    justify-content: center;
    align-content: center;
  }
  .heading-skills-primary p{
    text-align: center;
    margin: auto;
    font-size: 4rem;
    font-family: 'Sriracha', cursive;
    letter-spacing: .5rem;
    color: black;
  }
  @media only screen and (max-width: 700px){
    .heading-skills-primary{
      height: 10rem;
      clip-path: polygon(0 50%, 5% 0%, 95% 0, 100% 50%, 95% 100%, 5% 100% );
    }
  }
  .heading-skills-secondary{
    font-size: 2.5rem;
    font-weight: 400;
    color: #54483A;
    margin: 2rem;
    font-family: 'Sriracha', cursive;
  }
  .skills img{
    width: 10rem;
    height: 10rem;
  }
  .skillset1{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
    align-items: center;
    row-gap: 2rem;
  }
  .skillset2,
  .skillset3{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
    align-items: center;
  }
  
  .skill{
    padding: 2rem;
    background-color: rgba(250, 223, 245, .5);
  }

  .code-name{
    text-align: center;
    color: black;
    font-size: 1.5rem;
  }
  @media only screen and (max-width: 580px) {
    .skill{
      padding: 0;
      background-color: transparent;
    }
    @media only screen and (max-width: 400px) {
      .skills img{
        width: 8rem;
        height: 8rem;
      }
    }
    
  }

  .education{
    grid-column: center-start / center-end;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 2rem;
    row-gap: 3rem;
    justify-items: center;
    align-items: center;
    margin-bottom: 5rem;
  }
  .edu{
    padding:3rem 4rem;
    background-color: rgba(245, 213, 247, 0.966);
  }
  .edu-heading{
    grid-column: 1/-1;
    width: 100%;
    height: 8vw;
    margin-left: -5rem;
    background-image: linear-gradient(to right, rgb(198, 153, 99), rgb(255, 211, 34)) ;
    display: flex;
    justify-content: center;
    align-content: center;
    clip-path: polygon(0 0, 95% 0, 100% 50%, 95% 100%, 0 100% );
  }
  .edu-heading p{
    text-align: center;
    margin: auto;
    font-size: 4rem;
    font-family: 'Sriracha', cursive;
    letter-spacing: .5rem;
    color: black;
  }
  @media only screen and (max-width: 700px){
    .edu-heading{
      height: 10rem;
      clip-path: polygon(0 50%, 5% 0%, 95% 0, 100% 50%, 95% 100%, 5% 100% );
    }
  }

  @media only screen and (max-width: 580px) {
    .education h3{
      font-size: 2rem;
      line-height: 1;
      padding-bottom: 1rem;
    }
  }
